/* Improvemnts added by Sandrine MANGUY */
/* original App.css file cut in many files to match the components */

:root {
  font-size: 62.54%; /* Added by Sandrine MANGUY */
  --spacing: 2rem; /* Added by Sandrine MANGUY */
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Added by Sandrine MANGUY */
}

body {
  margin: var(--spacing);
  background-color: lightgray;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} /* Added by Sandrine MANGUY */

.app-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* here was the scroll button rules */

@media screen and (min-width: 600px) {
  .app-container {
    grid-template-columns: 20rem 1fr;
    gap: var(--spacing);
  }
}

/* here were the form rules */

/* the notes */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: var(--spacing);
}

/* here was the note rules */


/* 
// Original code commented on 20240112
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */