/* 
// Original code commented on 20240112
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  font-size: 62.54%;
  --spacing: 2rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  margin: var(--spacing);
  background-color: lightgray;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .app-container {
    grid-template-columns: 20rem 1fr;
    gap: var(--spacing);
  }
}

/* here was the form */

/* the notes */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: var(--spacing);
}

/* here was the note */